.App {
  text-align: center;
}

.linkMenu {
  background-color: rgb(71, 93, 212);
  height: 20px;
  padding: 20px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 8px;
  height: 20px;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}