.checkout-table, th, tr, td {
    width: 50%;
    /* margin: 0px; */
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: left;

}

.checkout-button {
    display: inline-block;
}

.total-checkout {
    display: inline-block;
}

.center-me {
    display: flex;
}